<form>
  <fieldset>
    <legend>修改管理员</legend>
      <div class="row">
      <div class="large-12 columns">
        <label>管理员编号</label>
        <input type="text" placeholder="ad0001" readonly="readonly" ng-model="admin.adminid" required="true"/>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>管理员登录名</label>
        <input type="text" placeholder="ad0001" readonly="readonly" ng-model="admin.adminname" required="true"/>
      </div>
      <div class="large-4 columns">
        <label>密码</label>
        <input type="text" placeholder="六位字符或数字" ng-model="admin.adminpwd" required="true"/>
      </div>
      <div class="large-4 columns">
        <div class="row collapse">
          <label>确认密码</label>
          <input type="text" placeholder="六位字符或数字" ng-model="admin.repwd" required="true"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>管理员等级</label>
        <input type="text" placeholder="ad0001" ng-model="admin.adminlevel" required="true"/>
      </div>
      <div class="large-4 columns">
        <label>联系电话</label>
        <input type="text" placeholder="" ng-model="admin.admintelno"/>
      </div>
      <div class="large-4 columns">
        <div class="row collapse">
          <label>邮箱地址</label>
          <div class="small-9 columns">
            <input type="text" placeholder="admin@hongqiao" ng-model="admin.adminemail"/>
          </div>
          <div class="small-3 columns">
            <span class="postfix">.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">&nbsp&nbsp</div>
      <div class="large-4 columns">
        <a href="#" class="button tiny">重置参数</a>
        <a href="#" ng-click="uptAdmin(admin)"class="button tiny">提交表单</a>
      </div>
      <div class="large-4 columns">&nbsp&nbsp</div>
    </div>
  </fieldset>
</form>