<form>
  <fieldset>
    <legend>所有应用</legend>
      <div class="row">
        <div class="large-12 columns">
          <table id="adm-tbl">
            <thead>
              <tr>
                <th width="100">管理员编号</th>
                <th width="100">登录名</th>
                <th width="100">密码</th>
                <th width="150">联系电话</th>
                <th>邮箱地址</th>
                <th width="100">操作</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="admin in admins">
		        <td>{{admin.adminid}}</td>
				<td>{{admin.adminname}}</td>
		        <td>{{admin.adminpwd}}</td>
		        <td>{{admin.admintelno}}</td>
		        <td>{{admin.admintelno}}</td>
		        <td>{{admin.adminemail}}</td>
				<td><a herf="/#/admin/{{admin.adminid}}" ng-click="delAdmin(admin)" style="font-family:Arial;font-size:0.3rem;">删除</a>&nbsp&nbsp
	    			<a herf="/#/admin/{{admin.adminid}}" ng-click="findAdmin(admin)" style="font-family:Arial;font-size:0.3rem;">修改</a>
	    		</td>
			</tr>
            </tbody> 
          </table>
        </div>
    </div>
  </fieldset>
</form>